table.dataTable td {
    word-break: break-word;
  }


*,
*::before,
*::after {
    box-sizing: border-box;
    outline: none;
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 350;
    color: #8a8a88;
    background: #fafafa;
}

.title{
width: 50%;    
margin-bottom: 4rem;
font-size: 1.7rem;
}

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.main{
    width: 50%;
    height: 50%;
}
.form-control{
    padding: 0.5rem;
    width: 250px;
margin: 1rem 0rem;
}


